@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Roboto Slab', serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
}

header {
  text-align: center;
  background-color: #dae135;
  padding: 1em;
}

footer {
  background-color: #dae135;
}

nav a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  transition: 550ms;
}

ul {
  padding: 0;
  list-style-type: none;
}

ol {
  text-align: right;
  width: 30%;
}

li {
  display: inline-block;
  float: right;
}

li a:hover {
  background-color: #868c03;
  color: #fff;
  border-radius: 5px;
}

.banner-content {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

a:active {
  background-color: #868c03;
}

li:first-child a {
  color: #fff;
  text-decoration: none;
}

.img-flex {
  display: block;
}

.image {
  position: relative;
  width: 100%;
}

h1 {
  color: white;
  font: bold 15px Roboto Slab, Serif;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px
  position: absolute;
  top: 300px;
  left: 0;
  width: 100%;
}

span {
  width: 100%;
}

p {
  color: black;
  top: 150px;
  text-align: center;
}

.value-proposition {
  border-radius: 8px;
}

header nav {
  display: inline-block;
  padding: 1em;
}

h2 {
  text-align: center;
}

.sign-up{
  position: absolute;
}

.btn {
  transition: .5s ease;
  top: -300px;
  left: 420px;
  right: -420px;
  bottom: -191px;
}

.paint-bucket {
  text-align: center;
}

footer ol li {
  display: inline;
}

.about {
  background-color: white;
}

.logo {
  max-width: 7rem;
}
